<div id="smart-shedule" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Stories
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a story">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'./new-story'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <span>ADD NEW STORY</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table #table [dataSource]="stories">

                <!-- Name Column -->
                <ng-container matColumnDef="story_image">
                    <mat-header-cell *matHeaderCellDef> Story Image </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div class="story-avatar">
                            <img src="{{assetsUrl}}/story/{{element.path}}">
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- Role Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.updatedAt}} </mat-cell>
                </ng-container>

                <!-- creat At -->
                <ng-container matColumnDef="download">
                    <mat-header-cell *matHeaderCellDef> Download </mat-header-cell>
                    <mat-cell *matCellDef="let element"><a (click)="download(element.path)"> Download </a></mat-cell>
                </ng-container>

                <!-- update At -->
                <ng-container matColumnDef="upload">
                    <mat-header-cell *matHeaderCellDef> Upload </mat-header-cell>
                    <mat-cell *matCellDef="let element"> Upload </mat-cell>
                </ng-container>

                <!-- delete -->
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <a style="color: red;" (click)="deleteStory(element.story_id)">Delete</a> </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
        </div>
    </div>
    <!-- / CENTER -->
</div>
